body {
    margin: 0;
    overflow: hidden;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    touch-action: none;
}
canvas {
    background-color: #0f171e;
}